.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination__pages {
  font-weight: bold;
  text-align: center;
  grid-column: 2/3;
  grid-row: 1/1;

}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
  align-items: center;


  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
      grid-column: 1/2;
      grid-row: 1/1;
    }
    &--next {
      float: right;
      grid-column: 3/4;
      grid-row: 1/1;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
